.row{ margin:0 -10px; zoom:1;}
.row:before, .row:after{ content:""; display:table; }
.row:after{ clear:both; }

.small-1,.small-2,.small-3,.small-4,.small-5,.small-6,.small-7,.small-8,.small-9,
.small-10,.small-11,.small-12,.small-13,.small-14,.small-15,.small-16{
	float: left;
	padding: 0 10px;
}

.small-1{ width:6.25%; }
.small-2{ width:12.5%; }
.small-3{ width:18.75%; }
.small-4{ width:25%; }
.small-5{ width:31.25%; }
.small-6{ width:37.5%; }
.small-7{ width:43.75%; }
.small-8{ width:50%; }
.small-9{ width:56.25%; }
.small-10{ width:62.5%; }
.small-11{ width:68.75%; }
.small-12{ width:75%; }
.small-13{ width:81.25%; }
.small-14{ width:87.5%; }
.small-15{ width:93.75%; }
.small-16{ width:100%; }

/* Tablette */
@media only screen and (min-width: 640px){

	.medium-1,.medium-2,.medium-3,.medium-4,.medium-5,.medium-6,.medium-7,.medium-8,.medium-9,
	.medium-10,.medium-11,.medium-12,.medium-13,.medium-14,.medium-15,.medium-16{
		float: left;
		padding: 0 10px;
	}

	.medium-1{ width:6.25%; }
	.medium-2{ width:12.5%; }
	.medium-3{ width:18.75%; }
	.medium-4{ width:25%; }
	.medium-5{ width:31.25%; }
	.medium-6{ width:37.5%; }
	.medium-7{ width:43.75%; }
	.medium-8{ width:50%; }
	.medium-9{ width:56.25%; }
	.medium-10{ width:62.5%; }
	.medium-11{ width:68.75%; }
	.medium-12{ width:75%; }
	.medium-13{ width:81.25%; }
	.medium-14{ width:87.5%; }
	.medium-15{ width:93.75%; }
	.medium-16{ width:100%; }

	.medium-center{ margin:0 auto; float:none; }
	.medium-hide{ display:none; }

}

/* Ordinateur */
@media only screen and (min-width: 1040px){

	.large-1,.large-2,.large-3,.large-4,.large-5,.large-6,.large-7,.large-8,.large-9,
	.large-10,.large-11,.large-12,.large-13,.large-14,.large-15,.large-16{
		float: left;
		padding: 0 10px;
	}

	.large-1{ width:6.25%; }
	.large-2{ width:12.5%; }
	.large-3{ width:18.75%; }
	.large-4{ width:25%; }
	.large-5{ width:31.25%; }
	.large-6{ width:37.5%; }
	.large-7{ width:43.75%; }
	.large-8{ width:50%; }
	.large-9{ width:56.25%; }
	.large-10{ width:62.5%; }
	.large-11{ width:68.75%; }
	.large-12{ width:75%; }
	.large-13{ width:81.25%; }
	.large-14{ width:87.5%; }
	.large-15{ width:93.75%; }
	.large-16{ width:100%; }

	.large-center{ margin:0 auto; float:none; }
	.large-hide{ display:none; }

}
